{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}
{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% block topbar %}
    <ol class="breadcrumb">
        <li>{{ 'sylius.breadcrumb.configuration'|trans }}</li>
        <li>Текст слайдера</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1><i class="glyphicon glyphicon-plus-sign"></i> Текст на слайдере</h1>
    </div>

    {{ form_errors(form) }}

    <form action="" method="post" class="form-horizontal" {{ form_enctype(form) }} novalidate>
        {% form_theme form 'SyliusWebBundle::forms.html.twig' %}
        <fieldset>
            {{ form_row(form.enable) }}
            <br>
        </fieldset>
        <fieldset>
            {{ form_row(form.text, {'attr': {'class': 'ckeditor'}}) }}
            <br>
        </fieldset>

        {{ form_rest(form) }}
        {{ update() }}
    </form>
{% endblock %}