<!DOCTYPE html>
{% set settings = sylius_settings_all('general') %}
<html{% block html %}{% endblock %}>
<head>
    <title>
        {% block title %}
            {{ settings.title|default('sylius.meta.frontend_title'|trans) }}
        {% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta name="description"
          content="{% block metaDescription %}{{ settings.meta_description|default('sylius.meta.frontend_description'|trans) }}{% endblock %}">
    <meta name="keywords" content="{% block metaKeywords %}{{ settings.meta_keywords|default('sylius.meta.frontend_keywords'|trans) }}{% endblock %}">

    {# stylesheets... #}
    {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" type="text/css"/>
        {#<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css" />#}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
              type="text/css"/>
        {% stylesheets output='assets/compiled/frontend.css' filter='cssrewrite'
        'bundles/syliusweb/css/frontend.css'
        'bundles/syliusweb/css/blueimp-gallery.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/flexslider.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/flexslider-custom.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/simplemodal.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('js/fancybox/source/jquery.fancybox.css') }}" type="text/css"
              media="screen"/>
        <link rel="stylesheet" href="{{ asset('js/fancybox/source/helpers/jquery.fancybox-buttons.css') }}"
              type="text/css" media="screen"/>
        {% endstylesheets %}
        {% set cart = sylius_cart_get() %}
        {% if cart.total > 0 and app.request.attributes.get('_route') != 'sylius_cart_summary' and app.request.attributes.get('_route') != 'sylius_checkout_display' %}
            <link rel="stylesheet" href="{{ asset('css/bottom.menu.cart.css') }}"
                  type="text/css"/>
        {% endif %}
    {% endblock %}

    <!--[if lt IE 9]>
    <script src="{{ asset('js/html5shiv.js') }}"></script>
    <![endif]-->
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NX4ZLJ"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NX4ZLJ');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter26038638 = new Ya.Metrika({id:26038638,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    trackHash:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/26038638" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
{% include 'SyliusWebBundle:Frontend/Cart:bottom.menu.html.twig' %}
<div id="top-link">
    <a href="#top"><span id="topicon"></span></a>
</div>
{#{% if app.request.attributes.get('_route') != 'sylius_homepage' %}#}
{#<div class="topBolvan"></div>#}
{#{% endif %}#}
<!-- Topmenu -->
<div class="wrap_top">
    <div class="top">
        <div class="pull-left">
            <div class="topPhone">
                +7 495 229-30-11
            </div>
        </div>
        <div class="pull-center">
            {#<!-- Logo -->#}
            <div class="logoBox">
                <a href="{{ path('sylius_homepage') }}">
                    <img src="{{ asset('images/logo.jpg') }}" alt="{{ asset('images/logo.jpg') }}" width="162px" height="32px">
                </a>
            </div>
        </div>
        <div class="pull-right">
            {#<div class="topTimes">#}
                {#Время работы: с 9 до 19#}
            {#</div>#}
            {#<div class="topCallback">#}
                {#<a href="{{ path('sylius_feedback') }}" class="buttonCallback">Заказать обратный звонок</a>#}
            {#</div>#}
            <div class="topMyAccount">
                {% if is_granted('ROLE_USER') %}
                    {% if app.request.attributes.get('_route') == "fos_user_profile_edit" or app.request.attributes.get('_route') == "fos_user_profile_show" %}
                        <a href="{{ path("fos_user_security_logout") }}">Выход</a>
                    {% else %}
                        <a href="{{ path("fos_user_profile_show") }}">Личный кабинет</a>
                    {% endif %}
                {% else %}
                    <a href="{{ path("fos_user_security_login") }}">Вход</a>
                {% endif %}
            </div>
            <div class="topTrash">
                <a href="{{ path('sylius_cart_summary') }}">Корзина</a>
            </div>
        </div>
        {#<div class="last"></div>#}
    </div>
</div>

<!-- Menu -->
<div class="wrap_menu">
    <div class="menu">
        {{ knp_menu_render('sylius.frontend.pagemenu', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
        <div class="topSearch">
            {% include "SyliusWebBundle:Frontend/Product:filterForm.html.twig" %}
        </div>
    </div>
</div>

{% block border %}
{% endblock %}
<!-- Slider -->
{% block slider %}
{% endblock %}
<!-- Container -->
<div class="wrap_container">
    <div class="container">

        <!-- Content -->
        {% block content %}
        {% endblock %}
        <div class="push"></div>
    </div>
</div>
<!-- BottomMenu -->
<div class="wrap_bottomMenu">
    <div class="bottomMenu">
        {{ knp_menu_render('sylius.frontend.bottom_menu', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
    </div>
</div>

<!-- Footer -->
{% block footer %}
<div class="wrap_footer">
    <div class="footer">
        {{ knp_menu_render('sylius.frontend.social', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
    </div>
</div>
{% endblock %}
{# Confirmation modal #}
{% include 'SyliusWebBundle::confirm-modal.html.twig' %}

{# javascripts... #}
{% block javascripts %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    {#<script type="text/javascript" src="{{ asset('js/jquery-1.10.2.min.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('js/fixed.menu.after.scroll.js') }}"></script>#}
    {#{% if app.request.attributes.get('_route') != 'sylius_homepage' %}#}
        {#<script type="text/javascript" src="{{ asset('js/menu.resize.scroll.js') }}"></script>#}
    {#{% endif %}#}
    <script src="{{ asset('js/jquery.placeholder.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/list.product.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.flexslider-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/flexslider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/button.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('js/fancybox/source/jquery.fancybox.pack.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('js/fancybox/source/helpers/jquery.fancybox-buttons.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('js/fancybox/source/helpers/jquery.fancybox-media.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.simplemodal.1.4.4.min.js') }}"></script>
    {% javascripts output='assets/compiled/frontend.js'
    'bundles/syliusweb/js/jquery.blueimp-gallery.min.js'
    'bundles/syliusweb/js/confirm-modal.js'
    'bundles/syliusweb/js/frontend.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
