{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block html %} ng-app="register"{% endblock %}

{% block border %}
{% endblock %}

{% block content %}
    <form name="form" action="{{ path('fos_user_profile_edit') }}" method="post" class="form-horizontal registerForm profileEditForm" ng-submit="submit" ng-controller="RegisterController as reg" novalidate>
        <fieldset class="well">
            {{ 'registration.register_headerProfileEdit'|trans|raw }}
            <hr>
            <div class="left">
                <div class="form-group">
                    <span class="valid"></span>{{ form_widget(form.firstName, { 'attr': {'class': 'form-control', 'ng-model' : 'user.firstName', 'ng-minlength' : '2', 'ng-maxlength' : '255'}, 'required' : 'required'  }) }}<span>*</span>
                </div>
                <div class="form-group">
                    <span class="valid"></span>{{ form_widget(form.inn, { 'attr': {'class': 'form-control', 'ng-model' : 'user.inn', 'ng-minlength' : '10', 'ng-maxlength' : '12', 'ng-pattern' : 'onlyNumbers'}, 'required' : 'required' }) }}<span>*</span>
                </div>
                <div class="form-group">
                    <span class="valid"></span>{{ form_widget(form.formCompany, { 'attr': {'class': 'form-control', 'ng-model' : 'user.formCompany'}, 'required' : 'required' }) }}<span>*</span>
                </div>
                <div class="form-group">
                    <span class="valid"></span>{{ form_widget(form.nameCompany, { 'attr': {'class': 'form-control', 'ng-model' : 'user.nameCompany'}, 'required' : 'required' }) }}<span>*</span>
                </div>
                <div class="form-group">
                    <span class="valid"></span>{{ form_widget(form.city, { 'attr': {'class': 'form-control', 'ng-model' : 'user.city'}, 'required' : 'required' }) }}<span>*</span>
                </div>
                <div class="form-group">
                    {{ form_label(form.profileCompany, '') }}
                    {{ form_widget(form.profileCompany, { 'required' : '', 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.countPoint, '') }}
                    {{ form_widget(form.countPoint, { 'required' : '', 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.organization, '') }}
                    {{ form_widget(form.organization, { 'required' : '', 'attr': {'class': 'form-control', 'ng-model' : 'user.organization'} }) }}
                </div>
            </div>
            <div class="right">
                <div class="form-group">
                    {{ form_label(form.email, '') }}
                    <span class="valid"></span>{{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder' : 'form.email', 'ng-model' : 'user.email'}, 'required' : 'required' }) }}<span>*</span>
                </div>
                <div class="form-group">
                    {{ form_label(form.kpp, '') }}
                    {{ form_widget(form.kpp, {'required' : '', 'attr': {'class': 'form-control', 'ng-model' : 'user.kpp'} }) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.currentAccount, '') }}
                    {{ form_widget(form.currentAccount, {'required' : '', 'attr': {'class': 'form-control', 'ng-model' : 'user.currentAccount'} }) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.bank, '') }}
                    {{ form_widget(form.bank, {'required' : '', 'attr': {'class': 'form-control', 'ng-model' : 'user.bank'} }) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.correspondentAccount, '') }}
                    {{ form_widget(form.correspondentAccount, {'required' : '', 'attr': {'class': 'form-control', 'ng-model' : 'user.correspondentAccount'} }) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.bik, '') }}
                    {{ form_widget(form.bik, {'required' : '', 'attr': {'class': 'form-control', 'ng-model' : 'user.bik'} }) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.phone, '') }}
                    <span class="valid"></span>{{ form_widget(form.phone, { 'attr': {'class': 'form-control', 'ng-model' : 'user.phone'} }) }}<span>*</span>
                </div>
            </div>
            <div class="form-actions clearfix">
                <button type="submit" class="btn btn-success btn-lg" ng-disabled="form.$invalid">{{ 'registration.submit'|trans }}</button>
            </div>
            {{ form_errors(form) }}
            {#<div class="alert alert-danger" ng-show="user.firstName.$error.required">{{ 'registration.first_name.not_blank'|trans }}</div>#}
            {#<div class="alert alert-danger" ng-show="user.firstName.$error.min">{{ 'registration.first_name.min'|trans }}</div>#}
            {#<div class="alert alert-danger" ng-show="user.firstName.$error.max">{{ 'registration.first_name.max'|trans }}</div>#}
        </fieldset>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("js/jquery.maskedinput.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/angular.min.js") }}"></script>
    {% if is_granted('ROLE_USER') %}
        {% set user = app.security.getToken().getUser() %}
        <script type="text/javascript">
            window.user = {
                firstName: '{{ user.firstName }}',
                inn: '{{ user.inn }}',
                nameCompany: '{{ user.nameCompany }}',
                city: '{{ user.city.id }}',
                email: '{{ user.email }}',
                phone: '{{ user.phone }}',
                address : '{{ user.address }}',
                formCompany: '{{ user.formCompany }}',
                profileCompany : '{{ user.profileCompany }}',
                countPoint : '{{ user.countPoint }}',
                organization : '{{ user.organization }}',
                kpp : '{{ user.kpp }}',
                currentAccount : '{{ user.currentAccount }}',
                bank : '{{ user.bank }}',
                correspondentAccount : '{{ user.correspondentAccount }}',
                bik : '{{ user.bik }}'
            };
        </script>
    {% endif %}
    <script type="text/javascript" src="{{ asset("js/register.js") }}"></script>
{% endblock %}
