{% form_theme form 'SyliusWebBundle::forms.html.twig' %}

<div class="row">
    <div class="col-md-12">
        <fieldset>
            {{ form_row(form.email) }}
            {{ form_row(form.username) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.city) }}
            {{ form_row(form.delivery) }}
            {{ form_row(form.address) }}
            {{ form_row(form.transport) }}
            {{ form_row(form.date) }}
            {{ form_row(form.time) }}
            {{ form_row(form.comment) }}
        </fieldset>
    </div>
</div>
{{ form_rest(form) }}
