{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.sales'|trans }}</li>
    {#<li><a href="{{ path('sylius_backend_order_index') }}">{{ 'sylius.breadcrumb.order.index'|trans }}</a></li>#}
    <li>#{{ order.number }}</li>
</ol>
{% endblock %}

{% block content %}

<div class="comments">
    {{ render(url('sylius_backend_order_comment_index', {order_id: order.id})) }}
</div>
<div class="page-header">
    {% if not order.deleted %}
    <div class="actions-menu">
        {#{{ buttons.edit(path('sylius_backend_order_update', {'id': order.id})) }}#}
        {% if order.state == 7 %}
            заказ удален. причина: {{ order.getReasonCancel() }}
        {% endif %}

        {% if not is_granted('ROLE_MANAGER2') %}
        <a href="{{ path('sylius_backend_order_export', {'id': order.id}) }}" target="_blank" class="btn btn-primary">
            <i class="glyphicon glyphicon-plus-sign"></i><span>Экспорт в xlsx</span>
        </a>
        {% endif %}

        {% if not is_granted('ROLE_MANAGER') %}
        {{ buttons.delete(path('sylius_backend_order_delete', {'id': order.id})) }}
        {% endif %}
    </div>
    {% endif %}
    <h1>
        <span class="glyphicon glyphicon-file"></span> {{ 'sylius.order.show_header'|trans({'%number%': order.number}) }}
        {% if order.deleted %}<span class="label label-danger">{{ 'sylius.deleted'|trans }}</span>{% endif %}
    </h1>
</div>

{#<div class="row">#}
    {#<div class="col col-md-3">#}
        {#<h4>Order Details</h4>#}
        {#<dl>#}
            {#<dt>{{ 'sylius.order.created_at'|trans }}</dt>#}
            {#<dd>{{ order.createdAt|date }}</dd>#}
            {#<dt>Email</dt>#}
            {#<dd>{{ order.email }}</dd>#}
            {#<dt>Имя</dt>#}
            {#<dd>{{ order.username }}</dd>#}
            {#<dt>Номер телефона</dt>#}
            {#<dd>{{ order.phone }}</dd>#}
        {#</dl>#}
    {#</div>#}
{#</div>#}

<table class="sylius-order-content-table table table-striped table-bordered">
    <thead>
        <tr>
            <th>Email</th>
            <th>Имя</th>
            <th>Телефон</th>
            <th>Город</th>
            <th>Способ доставки</th>
            <th>Адрес</th>
            <th>Транспортная компания</th>
            <th>{% if order.delivery == 1 %}Дата получения заказа{% else %}Дата доставки{% endif %}</th>
            <th>{% if order.delivery == 1 %}Время получения заказа{% else %}Время доставки{% endif %}</th>
            <th>Причина отмены</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{ order.email }}
            </td>
            <td>
                {{ order.username }}
            </td>
            <td>
                {{ order.phone }}
            </td>
            <td>
                {{ order.city }}
            </td>
            <td>
                {% if order.delivery != null %}
                {% if order.delivery == 0 %}
                    курьер
                {% endif %}
                {% if order.delivery == 1 %}
                    самовывоз
                {% endif %}
                {% else %}
                    транспортная компания
                {% endif %}
            </td>
            <td>
                {{ order.address }}
            </td>
            <td>
                {% if order.transport != '' %}
                    {% if order.transport == 0 %}Деловые линии{% endif %}
                    {% if order.transport == 1 %}Байкал сервис{% endif %}
                    {% if order.transport == 2 %}Пони экспресс{% endif %}
                    {% if order.transport == 3 %}Почта России{% endif %}
                {% endif %}
            </td>
            <td>
                {{ order.date|date('d.m.y') }}
            </td>
            <td>
                {{ order.time }}
            </td>
            <td>
                {{ order.comment }}
            </td>
            <td>
                {{ buttons.edit(path('sylius_backend_order_update', {'id': order.id})) }}
            </td>
        </tr>
    </tbody>
</table>

<hr/>

<table class="sylius-order-content-table table table-striped table-bordered">
    <thead>
        <tr>
            <th class="picture"></th>
            <th>Артикул</th>
            <th class="info">{{ 'sylius.order_item.product'|trans }}</th>
            <th class="quantity text-center">{{ 'sylius.order_item.quantity'|trans }}</th>
            <th class="quantity text-center">Остаток</th>
            <th class="quantity text-center">Склад</th>
            <th class="unit-price text-center">{{ 'sylius.order_item.unit_price'|trans }}</th>
            <th class="total text-right">{{ 'sylius.order_item.total'|trans }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in order.items %}
        {% set variant = item.variant %}
        {% set product = variant.product %}
        <tr>
            <td class="picture text-center">
                <a href="{{ path('sylius_backend_product_show', {'id': product.id}) }}"
                   title="View {{ product.name|escape('html_attr') }} details.">
                    <img src="{{ product.image ? product.image.path|imagine_filter('sylius_small') : 'http://placehold.it/90x60' }}" alt="" class="imgmedia-object" />
                </a>
            </td>
            <td>
                <a href="{{ path('sylius_backend_product_show', {'id': product.id}) }}">
                    {{ product.sku }}
                </a>
            </td>
            <td class="info">
                <a href="{{ path('sylius_backend_product_show', {'id': product.id}) }}">
                    <h4 class="name">{{ product.name }}</h4>
                </a>
                {% if product.hasOptions %}
                <ul class="list-unstyled">
                    <li class="sku"><strong>{{ 'sylius.product.sku'|trans }}</strong>: <code>{{ variant.sku|default('SKU') }}</code></li>
                    {% for option in variant.options %}
                    <li><strong>{{ option.presentation }}</strong>: {{ option.value  }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </td>
            <td class="quantity text-center">
                {% if product.getCatalogName() == 'Кольца' %}
                    Размер {{ variant.size }}
                {% endif %}
                <form action="{{ path('sylius_backend_order_change_quantity', {id : item.id}) }}" id="quantityForm" method="post">
                    <input id="quantity" onchange="orderSave(this);" onkeyup="orderSave(this);" oninput="orderSave(this);" name="quantity" required="required" min="1" class="center-text form-control" value="{{ item.quantity }}" type="number">
                </form>
            </td>
            <td class="onHand text-center">{{ item.variant.onHand }}</td>
            <td class="onHand text-center">{{ product.warehouse }}</td>
            <td class="unit-price text-center">
                {{ item.unitPrice|sylius_price('RUB') }}
            </td>
            <td class="total text-right">
                {{ item.total|sylius_price('RUB') }}
            </td>
            <td>
                <form action="{{ path('sylius_backend_order_item_delete', {id: item.id}) }}" method="post" class="delete-action-form" novalidate="" onsubmit="orderItemDelete(this); return false;">
                    <button class="btn btn-danger btn-confirm" type="submit">
                        <i class="glyphicon glyphicon-trash"></i> <span>Удалить</span>
                    </button>
                </form>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">
                <hr />
                <div class="alert alert-info">{{ 'sylius.order.no_items'|trans }}</div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        {#<tr>#}
            {#<td class="active text-right" colspan="6">#}
                {#<strong>{{ 'sylius.order.items_total'|trans }}</strong>:#}
                {#<span class="amount">{{ order.itemsTotal|sylius_price('RUB') }}</span>#}
            {#</td>#}
        {#</tr>#}
        {#<tr class="taxes">#}
            {#<td colspan="2">#}
                {#<h5>{{ 'sylius.order.taxes'|trans }}</h5>#}
                {#{% if order.taxAdjustments|length > 0 %}#}
                    {#<ul class="list-unstyled">#}
                        {#{% for taxAdjustment in order.taxAdjustments %}#}
                            {#<li>{{ taxAdjustment.description }} {{ taxAdjustment.amount|sylius_price('RUB') }} </li>#}
                        {#{% endfor %}#}
                    {#</ul>#}
                {#{% else %}#}
                    {#<p class="text-muted"><small>{{ 'sylius.order.no_taxes'|trans }}</small></p>#}
                {#{% endif %}#}
            {#</td>#}
            {#<td class="text-right" colspan="3">#}
                {#<strong>{{ 'sylius.order.tax_total'|trans }}</strong>:#}
                {#<span class="amount">{{ order.taxTotal|sylius_price('RUB') }}</span>#}
            {#</td>#}
        {#</tr>#}
        {#<tr class="shipping-charges">#}
            {#<td colspan="2">#}
                {#<h5>{{ 'sylius.order.shipping_charges'|trans }}</h5>#}
                {#{% if order.shippingAdjustments|length > 0 %}#}
                    {#<ul class="list-unstyled">#}
                        {#{% for adjustment in order.shippingAdjustments %}#}
                            {#<li>{{ adjustment.description }} {{ adjustment.amount|sylius_price('RUB') }} </li>#}
                        {#{% endfor %}#}
                    {#</ul>#}
                {#{% else %}#}
                    {#<p class="text-muted"><small>{{ 'sylius.order.no_shipping_charges'|trans }}</small></p>#}
                {#{% endif %}#}
            {#</td>#}
            {#<td class="text-right" colspan="3">#}
                {#<strong>{{ 'sylius.order.shipping_total'|trans }}</strong>:#}
                {#<span class="amount">{{ order.shippingTotal|sylius_price('RUB') }}</span>#}
            {#</td>#}
        {#</tr>#}
        {#<tr class="promotion-discount">#}
            {#<td colspan="2">#}
                {#<h5>{{ 'sylius.checkout.finalize.order.promotion_discount'|trans }}</h5>#}
                {#{% if order.promotionAdjustments|length > 0 %}#}
                    {#<ul class="list-unstyled">#}
                        {#{% for adjustment in order.promotionAdjustments %}#}
                            {#<li>{{ adjustment.description }} {{ adjustment.amount|sylius_price('RUB') }} </li>#}
                        {#{% endfor %}#}
                    {#</ul>#}
                {#{% else %}#}
                    {#<p class="text-muted"><small>{{ 'sylius.checkout.finalize.order.no_promotion'|trans }}</small></p>#}
                {#{% endif %}#}
            {#</td>#}
            {#<td class="text-right" colspan="3">#}
                {#<strong>{{ 'sylius.checkout.finalize.order.promotion_total'|trans }}</strong>:#}
                {#<span class="amount">{{ order.promotionTotal|sylius_price('RUB') }}</span>#}
            {#</td>#}
        {#</tr>#}
        <tr>
            <td class="text-right active text-success lead" colspan="6">
                <strong>{{ 'sylius.order.total'|trans }}</strong>:
                <span class="amount">{{ order.total|sylius_price('RUB') }}</span>
            </td>
        </tr>
    </tfoot>
</table>
<div class="page-header">
    <h1>Добавление товара в заказ</h1>
</div>
<form action="{{ path('sylius_backend_order_add_item', {id: order.id}) }}" method="post">
    <input type="text" name="sku" placeholder="Артикул" required="required"/>
    <button class="btn btn-primary" type="submit">
        <i class="glyphicon glyphicon-plus-sign"></i>
        <span>
            Добавить
        </span>
    </button>
</form>
<div class="page-header">
    <h1></h1>
</div>
<iframe src="{{ path('sylius_backend_product_index_order') }}" frameborder="0" width="100%" height="500px"></iframe>

{#<hr/>#}

{#<table class="table table-striped">#}
    {#<thead>#}
        {#<tr>#}
            {#<th colspan="8">{{ 'sylius.order.inventory_tracking'|trans }}</th>#}
        {#</tr>#}
        {#<tr>#}
            {#<th>#</th>#}
            {#<th>{{ 'sylius.inventory_unit.sku'|trans }}</th>#}
            {#<th>{{ 'sylius.inventory_unit.name'|trans }}</th>#}
            {#<th>{{ 'sylius.inventory_unit.inventory_state'|trans }}</th>#}
            {#<th>{{ 'sylius.inventory_unit.shipping_state'|trans }}</th>#}
            {#<th>{{ 'sylius.inventory_unit.created_at'|trans }}</th>#}
            {#<th>{{ 'sylius.inventory_unit.updated_at'|trans }}</th>#}
            {#<th></th>#}
        {#</tr>#}
    {#</thead>#}
    {#<tbody>#}
        {#{% for unit in order.inventoryUnits %}#}
        {#<tr>#}
            {#<td>{{ loop.index }}</td>#}
            {#<td>{{ unit.stockable.sku }}</td>#}
            {#<td>{{ unit.inventoryName }}</td>#}
            {#<td>{{ unit.inventoryState|humanize }}</td>#}
            {#<td>{{ unit.shippingState|humanize }}</td>#}
            {#<td>{{ unit.createdAt|date }}</td>#}
            {#<td>{{ unit.updatedAt|date }}</td>#}
            {#<td>#}
                {#{% if constant('Sylius\\Bundle\\InventoryBundle\\Model\\InventoryUnitInterface::STATE_SOLD') == unit.inventoryState and constant('Sylius\\Bundle\\ShippingBundle\\Model\\ShipmentInterface::STATE_READY') == unit.shippingState %}#}
                    {#<form action="{{ path('sylius_backend_inventory_unit_update_state', {'id': unit.id, 'state': constant('Sylius\\Bundle\\InventoryBundle\\Model\\InventoryUnitInterface::STATE_BACKORDERED')}) }}" method="post">#}
                        {#<input type="hidden" name="_method" value="PUT">#}
                        {#<button class="btn btn-default" type="submit">#}
                            {#<i class="glyphicon glyphicon-share"></i> <span>{{ 'sylius.order.inventory_unit.backorder'|trans }}</span>#}
                        {#</button>#}
                    {#</form>#}
                {#{% elseif constant('Sylius\\Bundle\\InventoryBundle\\Model\\InventoryUnitInterface::STATE_BACKORDERED') == unit.inventoryState and constant('Sylius\\Bundle\\ShippingBundle\\Model\\ShipmentInterface::STATE_ONHOLD') == unit.shippingState %}#}
                    {#<form action="{{ path('sylius_backend_inventory_unit_update_state', {'id': unit.id, 'state': constant('Sylius\\Bundle\\InventoryBundle\\Model\\InventoryUnitInterface::STATE_SOLD')}) }}" method="post">#}
                        {#<input type="hidden" name="_method" value="PUT">#}
                        {#<button class="btn btn-default" type="submit">#}
                            {#<i class="glyphicon glyphicon-stats"></i> <span>{{ 'sylius.order.inventory_unit.fulfill'|trans }}</span>#}
                        {#</button>#}
                    {#</form>#}
                {#{% elseif constant('Sylius\\Bundle\\InventoryBundle\\Model\\InventoryUnitInterface::STATE_SOLD') == unit.inventoryState and constant('Sylius\\Bundle\\ShippingBundle\\Model\\ShipmentInterface::STATE_SHIPPED') == unit.shippingState %}#}
                    {#<form action="{{ path('sylius_backend_inventory_unit_update_state', {'id': unit.id, 'state': constant('Sylius\\Bundle\\InventoryBundle\\Model\\InventoryUnitInterface::STATE_RETURNED')}) }}" method="post">#}
                        {#<input type="hidden" name="_method" value="PUT">#}
                        {#<button class="btn btn-default" type="submit">#}
                            {#<i class="glyphicon glyphicon-share-alt"></i> <span>{{ 'sylius.order.inventory_unit.return'|trans }}</span>#}
                        {#</button>#}
                    {#</form>#}
                {#{% endif %}#}
            {#</td>#}
        {#</tr>#}
        {#{% else %}#}
        {#<tr>#}
            {#<td colspan="8">#}
            {#{{ alerts.info('sylius.inventory_unit.no_results'|trans) }}#}
            {#</td>#}
        {#</tr>#}
        {#{% endfor %}#}
    {#</tbody>#}
{#</table>#}

{% if constant('Sylius\\Bundle\\OrderBundle\\Model\\OrderInterface::STATE_PENDING') == order.state and constant('Sylius\\Bundle\\PaymentsBundle\\Model\\PaymentInterface::STATE_NEW') == order.paymentState %}
    <form action="{{ path('sylius_backend_order_release_inventory', {'id': order.id}) }}" method="post">
        <input type="hidden" name="_method" value="PUT">
        <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-repeat"></i> <span>{{ 'sylius.order.release_inventory'|trans }}</span>
        </button>
    </form>
{% elseif 1 == order.shipments|length and constant('Sylius\\Bundle\\OrderBundle\\Model\\OrderInterface::STATE_CONFIRMED') == order.state and constant('Sylius\\Bundle\\PaymentsBundle\\Model\\PaymentInterface::STATE_COMPLETED') == order.paymentState %}
    <form action="{{ path('sylius_backend_shipment_ship', {'id': order.shipments.current.id}) }}" method="post">
        {% render(controller('sylius.controller.backend.form:showAction', {'type': 'sylius_shipment_tracking', 'template': 'SyliusWebBundle:Backend/Shipment:trackingForm.html.twig'})) %}
    </form>
{% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/order_comment.js') }}"></script>
{% endblock %}
