{% form_theme form 'SyliusWebBundle::forms.html.twig' %}

<div class="tab-pane active" id="main">
    {{ form_row(form.name, {'attr': {'class': 'input-lg'}}) }}
    {{ form_row(form.description, {'attr': {'class': 'input-lg', 'rows': 10}, required: '' }) }}
    {{ form_row(form.shortDescription, {'attr': {'class': 'input-lg', 'rows': 3}}) }}
    {{ form_row(form.masterVariant.sku) }}
    {{ form_row(form.masterVariant.skuCode) }}
    {{ form_row(form.enabled) }}
    {{ form_row(form.new) }}
    {{ form_row(form.action) }}
    {{ form_row(form.hit) }}
    {{ form_row(form.warehouse) }}
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="hide">
            {{ form_label(form.masterVariant.availableOn) }}
            {{ form_widget(form.masterVariant.availableOn, {'label': false}) }}
            </div>
            {#{{ form_row(form.masterVariant.availableOnDemand) }}#}
            <div class="hide">
                {{ form_row(form.masterVariant.price) }}
            </div>
            {{ form_row(form.masterVariant.priceOpt) }}
            {{ form_row(form.masterVariant.priceSale) }}
            {{ form_row(form.masterVariant.onHand) }}
            <hr />
            <div class="hide">{{ form_row(form.taxCategory) }}
            {{ form_row(form.shippingCategory) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="hide">
                {{ form_row(form.masterVariant.depth) }}
            </div>
            {{ form_row(form.masterVariant.weight) }}
            {{ form_row(form.masterVariant.metal) }}
            {{ form_row(form.masterVariant.box) }}
            {{ form_row(form.masterVariant.size) }}
            {{ form_row(form.masterVariant.flagSale) }}
        </div>
        <div class="col-md-6 hide">
            {{ form_row(form.masterVariant.width) }}
            {{ form_row(form.masterVariant.height) }}
            <hr />
            {{ form_row(form.restrictedZone) }}
            {{ form_row(form.variantSelectionMethod) }}
        </div>
    </div>
</div>
