{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% from 'SyliusWebBundle:Frontend/Taxon:macros.html.twig' import gridSub %}
{% from 'SyliusWebBundle:Frontend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Frontend/Product:macros.html.twig' import grid %}

{% block border %}
    <div class="borderHead filter"></div>
{% endblock %}

{#{% macro while(taxon) %}#}
    {#{% import _self as self %}#}
    {#{% if taxon.parent %}#}
        {#taxon.parent.name /#}
        {#{{ self.while() }}#}
    {#{% endif %}#}
{#{% endmacro %}#}

{% block content %}
    <div class="catalog">
        {% include 'SyliusWebBundle:Frontend/Product:filter.html.twig' %}
        {{ gridSub(collections) }}
        {{ grid(products, groups) }}
        {{ pagination(products) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if app.request.attributes.get('_route') == "sylius_product_index_by_taxon" or app.request.attributes.get('_route') == "sylius_product_index_by_taxon_collections" %}
        <script type="text/javascript" src="{{ asset("js/productClick.js") }}"></script>
    {% endif %}
{% endblock %}

