{% form_theme form 'SyliusWebBundle::forms.html.twig' %}

<fieldset>
    {{ form_row(form.id, {'attr': {'class': 'input-lg'}}) }}
    <div class="hide">
        {{ form_row(form.date_begin, {'attr': {'class': 'input-lg'}}) }}
        {{ form_row(form.date_end, {'attr': {'class': 'input-lg'}}) }}
    </div>
    {{ form_row(form.percent, {'attr': {'class': 'input-lg'}}) }}
    {{ form_row(form.type_price, {'attr': {'class': 'input-lg'}}) }}
    {{ form_row(form.taxon) }}
</fieldset>
{{ form_widget(form._token) }}
