{% if loop.index0%4 == 0 %}<div class="row">{% endif %}<div class="box box{{ loop.index0%4 }}">
        {% from 'SyliusWebBundle:Frontend/Product:macros.html.twig' import showPrice %}
        <div class="inner_box">
            <div class="topBox clickBox">
                <div class="nameBox">
                    <div class="name">{{ product.name }}</div>
                    <div class="price">
                        {{ showPrice(product, groups) }}
                    </div>

                </div>
                {#<div class="composition">#}
                {#{{ product.properties[2].value }}#}
                {#</div>#}
            </div>
            <a target="_blank" href="{% if app.request.attributes.get('_route') == "sylius_product_index_by_taxon_collections" %}{% if taxon.id is not defined %}{{ path('sylius_product_show_collections', {'slug': product.slug, 'taxon': product.taxons[0].id}) }}{% else %}{{ path('sylius_product_show_collections', {'slug': product.slug, 'taxon': taxon.id}) }}{% endif %}{% else %}{% if taxon.id is not defined %}{{ path('sylius_product_show', {'slug': product.slug, 'taxon' : product.taxons[0].id}) }}{% else %}{{ path('sylius_product_show', {'slug': product.slug, 'taxon' : taxon.id}) }}{% endif %}{% endif %}">
                <img src="{{ product.image ? image('media/image/'~product.image.path).resize(500, 500, '#fff') : 'http://placehold.it/500x500' }}"
                     data-image1="{{ product.image ? image('media/image/'~product.image.path).resize(500, 500, '#fff') : 'http://placehold.it/500x500' }}"
                     data-image2="{% if product.images|length > 1 %}{{ product.images[1] ? image('media/image/'~product.images[1].path).resize(500, 500, '#fff') : '' }}{% endif %}"
                     alt="{{ product.name }}">
            </a>

            {#<div class="wrap_description">#}
            {#<div class="description">#}
            {#<a href="{% if app.request.attributes.get('_route') == "sylius_product_index_by_taxon_collections" %}{{ path('sylius_product_show_collections', {'slug': product.slug}) }}{% else %}{{ path('sylius_product_show', {'slug': product.slug}) }}{% endif %}">{{ product.name }}</a>#}
            {#</div>#}
            {#</div>#}
            <div class="bottomBox clickBox">
                <div class="articul">АРТ: {{ product.getSku() }}</div>
                {% set form = sylius_cart_form({'product': product}) %}
                <form action="{{ path('sylius_cart_item_add', {'id': product.id}) }}" method="post"
                      class="clearfix form-horizontal">
                    {% if not product.hasVariants and not sylius_inventory_is_available(product.masterVariant) %}
                    {% else %}
                        {{ form_row(form.quantity, {'attr': {'class': 'center-text'}, 'empty_value': '1'}) }}
                        {{ form_widget(form._token) }}
                    {% endif %}
                    <button type="submit" class="addCart">Купить</button>
                </form>
            </div>
            <div class="wrap_descriptionBoxBorderTop"><div class="descriptionBoxBorderTop"></div></div>
            <div class="descriptionBox clickBox">
                {#<div class="header">Дополнительная информация:</div>#}
                <div class="property">
                    {#{% for property in product.properties %}#}
                        {#{{ property.name }}: {{ property.value }}<br>#}
                    {#{% endfor %}#}
                    НАЛИЧИЕ НА СКЛАДЕ {{ product.masterVariant.onHand }} ШТ.
                </div>
            </div>
        </div>
    </div>{% if loop.index0%4 == 3 or loop.index == count %}</div>{% endif %}