{% if loop.index0%4 == 0 %}<div class="row">{% endif %}<div class="box box{{ loop.index0%4 }}">
        {% from 'SyliusWebBundle:Frontend/Product:macros.html.twig' import showPrice %}
        <div class="inner_box">
            {% if product.masterVariant.flagSale == 1 %}
                <div class="sticker_sale">SALE</div>
            {% endif %}
            {% if product.new == 1 %}
                <div class="sticker_new{% if product.masterVariant.flagSale == 1 %} right{% endif %}">NEW</div>
            {% endif %}
            {% if taxon.id is not defined %}
                {% set taxonId = product.taxons[0].id %}
            {% else %}
                {% set taxonId = taxon.id %}
            {% endif %}
            {% if product.isSilver %}
                {% set url = path('sylius_product_show_collections_silver_ajax', {'slug': product.slug, 'taxon': taxonId, 'type': 'ajax'}) %}
            {% elseif app.request.attributes.get('_route') == "sylius_product_index_by_taxon_collections" %}
                {% set url = path('sylius_product_show_collections_ajax', {'slug': product.slug, 'taxon': taxonId, 'type': 'ajax'}) %}
            {% else %}
                {% set url = path('sylius_product_show_ajax', {'slug': product.slug, 'taxon' : taxonId, 'type': 'ajax'}) %}
            {% endif %}
            <a href="{{ url }}" onclick="return false;">
                <img src="{{ product.image ? image('media/image/'~product.image.path).resize(500, 500, '#fff') : 'http://placehold.it/500x500' }}"
                     data-image1="{{ product.image ? image('media/image/'~product.image.path).resize(500, 500, '#fff') : 'http://placehold.it/500x500' }}"
                     data-image2="{% if product.images|length > 1 %}{{ product.images[1] ? image('media/image/'~product.images[1].path).resize(500, 500, '#fff') : '' }}{% endif %}"
                     alt="{{ product.name }}">
            </a>

            {#<div class="wrap_description">#}
            {#<div class="description">#}
            {#<a href="{% if app.request.attributes.get('_route') == "sylius_product_index_by_taxon_collections" %}{{ path('sylius_product_show_collections', {'slug': product.slug}) }}{% else %}{{ path('sylius_product_show', {'slug': product.slug}) }}{% endif %}">{{ product.name }}</a>#}
            {#</div>#}
            {#</div>#}
            <div class="bottomBox clickBox">
                <div class="nameBox">
                    <div class="name">{{ product.name }}</div>
                    <div class="price">
                        цена {{ showPrice(product, groups) }}
                    </div>

                </div>
                {% if product.isRing %}
                    <form action="{{ path('sylius_by_ring_form', {'sku': product.sku}) }}" method="get" class="clearfix form-horizontal">
                        <button type="submit" class="addCartRing">Купить</button>
                    </form>
                {% else %}
                    {% set form = sylius_cart_form({'product': product}) %}
                    <form action="{{ path('sylius_cart_item_add', {'id': product.id}) }}" method="post"
                          class="clearfix form-horizontal">
                        {{ form_widget(form._token) }}
                        {{ form_row(form.quantity, {'attr': {'class': 'center-text'}, 'empty_value': '1'}) }}<button type="submit" class="addCart">Купить</button>
                    </form>
                {% endif %}
            </div>
            {#<div class="wrap_descriptionBoxBorderTop"><div class="descriptionBoxBorderTop"></div></div>#}
            {#<div class="descriptionBox clickBox">#}
                {#&#123;&#35;<div class="header">Дополнительная информация:</div>&#35;&#125;#}
                {#<div class="property">#}
                    {#&#123;&#35;{% for property in product.properties %}&#35;&#125;#}
                        {#&#123;&#35;{{ property.name }}: {{ property.value }}<br>&#35;&#125;#}
                    {#&#123;&#35;{% endfor %}&#35;&#125;#}
                    {#НАЛИЧИЕ НА СКЛАДЕ {{ render(url('sylius_product_onHand', {sku: product.sku})) }} ШТ.#}
                {#</div>#}
            {#</div>#}
        </div>
    </div>{% if loop.index0%4 == 3 or loop.index == count %}</div>{% endif %}