<div class="head filter">
    {% if taxons is defined %}
        {% if app.request.attributes.get('_route') == 'sylius_product_index_by_taxon' %}
            {% set category = 'catalog' %}
            {% set head = 'Тип украшения' %}
        {% elseif app.request.attributes.get('_route') == 'sylius_product_index_by_taxon_accesories' %}
            {% set category = 'accesories' %}
            {% set head = 'Тип украшения' %}
        {% else %}
            {% set category = 'collections' %}
            {% set head = 'Коллекция' %}
        {% endif %}
    {% if taxons|length > 0 %}
    <div class="filter-block type">
        <div id="type">
            <span>{{ head }}</span>
            {% if taxons is defined %}
                {% include 'SyliusWebBundle:Frontend/Product:list.taxons.html.twig' %}
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endif %}
    <div class="filter-block collection {% if app.request.attributes.get('_route') == 'sylius_product_index_by_taxon' or app.request.attributes.get('_route') == 'sylius_product_index_by_taxon_accesories' %}hide{% endif %}">
        <div id="catalog">
            <span>Тип украшения</span>
            <a href="any" {% if filter.catalog == 'any' %}class="selected" onclick="return false;"{% else %} onclick="filter(this, '{{ category }}'); return false;"{% endif %}>все типы</a>
            {{ render(url('sylius_get_catalog_list', {filter: filter.catalog, category: category})) }}
        </div>
    </div>
    <div class="filter-block collection {% if app.request.attributes.get('_route') == 'sylius_product_index_by_taxon_collections' or app.request.attributes.get('_route') == 'sylius_product_index_by_taxon_accesories' %}hide{% endif %}">
        <div id="collection">
            <span>Коллекция</span>
            <a href="any" {% if filter.collection == 'any' %}class="selected" onclick="return false;"{% else %} onchange="filter(this, '{{ category }}'); return false;"{% endif %}>все коллекции</a>
            {{ render(url('sylius_get_collection_list', {filter: filter.collection, category: category})) }}
        </div>
    </div>
    <div class="filter-block price{% if app.user == 0 %} hide{% endif %}">
        <span>Цена от:</span>
        <div id="price_from">
            <a href="1" {% if filter.price_from == 1 %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>Все цены</a>
            <a href="250" {% if filter.price_from == 250 %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>от 250 руб</a>
            <a href="500" {% if filter.price_from == 500 %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>от 500 руб</a>
            <a href="700" {% if filter.price_from == 700 %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>от 700 руб</a>
            <a href="1000" {% if filter.price_from == 1000 %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>от 1000 руб</a>
            <a href="1500" {% if filter.price_from == 1500 %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>от 1500 руб</a>
            <a href="1700" {% if filter.price_from == 1700 %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>от 1700 руб</a>
            <a href="2000" {% if filter.price_from == 2000 %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>от 2000 руб</a>
            <a href="2500" {% if filter.price_from == 2500 %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>от 2500 руб</a>
        </div>
        <span>Цена до:</span>
        <div id="price_to">
            <a href="1" {% if filter.price_to == 1 %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>Все цены</a>
            <a href="250" {% if filter.price_to == 250 %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>до 250 руб</a>
            <a href="500" {% if filter.price_to == 500 %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>до 500 руб</a>
            <a href="700" {% if filter.price_to == 700 %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>до 700 руб</a>
            <a href="1000" {% if filter.price_to == 1000 %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>до 1000 руб</a>
            <a href="1500" {% if filter.price_to == 1500 %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>до 1500 руб</a>
            <a href="1700" {% if filter.price_to == 1700 %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>до 1700 руб</a>
            <a href="2000" {% if filter.price_to == 2000 %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>до 2000 руб</a>
            <a href="2500" {% if filter.price_to == 2500 %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>до 2500 руб</a>
        </div>
        {#<input type="hidden" id="price_from" name="price_from" value="{{ filter.price_from }}" />#}
        {#<input type="hidden" id="price_to" name="price_to" value="{{ filter.price_to }}" />#}
        {#<input type="text" id="price" name="price" value="" data-from="{{ filter.price_from }}" data-to="{{ filter.price_to }}" />#}
        {#<button id="button_price" class="button_price" onclick="filter('{{ category }}');">Показать</button>#}
    </div>
    <div class="filter-block priceSale{% if app.user == 0 %} hide{% endif %}">
        <span>Скидки</span>
        <div id="priceSale">
            <a href="any" {% if filter.priceSale == "any" %}class="selected hide" onclick="return false;"{% else %}class="hide" onclick="filter(this, '{{ category }}'); return false;"{% endif %}>Любые</a>
            <a href="asc" {% if filter.priceSale == 'asc' %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>Сначала без скидки</a>
            <a href="desc" {% if filter.priceSale == 'desc' %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>Сначала со скидкой</a>
        </div>
    </div>
    <div class="filter-block created">
        <span>Сортировка по дате</span>
        <div id="created">
            <a href="any" {% if filter.created == "any" %}class="selected hide" onclick="return false;"{% else %}class="hide" onclick="filter(this, '{{ category }}'); return false;"{% endif %}>По дате</a>
            <a href="asc" {% if filter.created == 'asc' %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>Старые</a>
            <a href="desc" {% if filter.created == 'desc' %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>Новые</a>
        </div>
    </div>
    <div class="filter-block material hide">
        <span>Материал:</span>
        <div id="material">
            <a href="any" {% if filter.material == "any" %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>Любой</a>
            <a href="%серебро%" {% if filter.material == "%серебро%" %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>Серебро</a>
        </div>
    </div>
    <div class="filter-block weight{% if filter.material != "%серебро%" %} hide{% endif %}">
        <span>Вес:</span>
        <select onchange="filter(this, '{{ category }}');" id="weight">
            <option value="any" {% if filter.weight == "any" %}selected="selected"{% endif %}>Любой</option>
            {% for i in 0..100 %}
                {% set i = i + 10 %}
                <option value="{{ i }}" {% if filter.weight == i %}selected="selected"{% endif %}>{{ i }}</option>
            {% endfor %}
        </select>
    </div>
    {#<div class="depth">#}
        {#<span>глубина:</span>#}
        {#<select name="" id="depth" onchange="filter('{{ category }}');">#}
            {#<option value="any" {% if filter.depth == "any" %}selected="selected"{% endif %}>любая</option>#}
            {#{% for i in 0..50 %}#}
                {#{% set i = i + 5 %}#}
                {#<option value="{{ i }}" {% if filter.depth == i %}selected="selected"{% endif %}>{{ i }}</option>#}
            {#{% endfor %}#}
        {#</select>#}
    {#</div>#}
    <div class="filter-block color">
        <div id="color">
            <span>Цвет</span>
            <a href="any" {% if filter.color == "any" %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>Все цвета</a>
            <a href="%черный%" {% if filter.color == "%черный%" %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>Черный</a>
            <a href="%серебряный%" {% if filter.color == "%серебряный%" %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>Серебряный</a>
            <a href="%сиреневый%" {% if filter.color == "%сиреневый%" %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>Сиреневый</a>
        </div>
    </div>
    <div class="filter-block box">
        <div id="box" {% if app.request.attributes.get('_route') == 'sylius_product_index_by_taxon' or app.request.attributes.get('_route') == 'sylius_product_index_by_taxon_accesories' %}class="hide"{% endif %}>
            <span>Вставка</span>
            <a href="any" {% if filter.box == "any" %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>Любая</a>
            <a href="%камень%" {% if filter.box == "%камень%" %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>Камень</a>
            <a href="%бриллиант%" {% if filter.box == "%бриллиант%" %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>Бриллиант</a>
        </div>
    </div>
    <div class="filter-block size{% if taxon is defined %}{% if taxon.slug != 'kol-tsa' %} hide{% endif %}{% else %} hide{% endif %}">
        <span>Размерность:</span>
        <select id="size" onchange="filter(this, '{{ category }}');">
            <option value="any" {% if filter.size == "any" %}selected="selected"{% endif %}>любая</option>
            <option value="0" {% if filter.size == '0' %}selected="selected"{% endif %}>0</option>
            <option value="15" {% if filter.size == 15 %}selected="selected"{% endif %}>15</option>
            <option value="15.5" {% if filter.size == 15.5 %}selected="selected"{% endif %}>15.5</option>
            <option value="16" {% if filter.size == 16 %}selected="selected"{% endif %}>16</option>
            <option value="16.5" {% if filter.size == 16.5 %}selected="selected"{% endif %}>16.5</option>
            <option value="17" {% if filter.size == 17 %}selected="selected"{% endif %}>17</option>
            <option value="17.5" {% if filter.size == 17.5 %}selected="selected"{% endif %}>17.5</option>
            <option value="18" {% if filter.size == 18 %}selected="selected"{% endif %}>18</option>
            <option value="18.5" {% if filter.size == 18.5 %}selected="selected"{% endif %}>18.5</option>
            <option value="19" {% if filter.size == 19 %}selected="selected"{% endif %}>19</option>
            <option value="19.5" {% if filter.size == 19.5 %}selected="selected"{% endif %}>19.5</option>
            <option value="20" {% if filter.size == 20 %}selected="selected"{% endif %}>20</option>
            <option value="20.5" {% if filter.size == 20.5 %}selected="selected"{% endif %}>20.5</option>
        </select>
    </div>
    {% if products is defined %}
    <div class="filter-block count">
        Кол-во: {{ products|length }}
    </div>
    {% endif %}
</div>