{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% import 'SyliusWebBundle:Frontend/Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Frontend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Frontend/Product:macros.html.twig' import grid %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/catalog.css') }}" type="text/css"/>
{% endblock %}

{% block border %}
    <div class="borderHead"></div>
{% endblock %}

{% block content %}
    <div class="catalog">
        <div class="head">
            {% if app.request.attributes.get('_route') == "sylius_product_index_by_taxon_collections" %}
                <a href="{{ path("sylius_collections") }}">Коллекции</a> / {{ taxon.name }}
            {% else %}
                <a href="{{ path("sylius_catalog") }}">Каталог</a> / {{ taxon.name }}
            {% endif %}
        </div>
        {{ grid(products, groups) }}
        {{ pagination(products) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.request.attributes.get('_route') == "sylius_product_index_by_taxon" or app.request.attributes.get('_route') == "sylius_product_index_by_taxon_collections" %}
        <script type="text/javascript" src="{{ asset("js/productClick.js") }}"></script>
    {% endif %}
{% endblock %}

