{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% import 'SyliusWebBundle:Frontend/Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Frontend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Frontend/Product:macros.html.twig' import grid %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/catalog.css') }}" type="text/css"/>
{% endblock %}

{% block border %}
    <div class="borderHead filter"></div>
{% endblock %}

{% block content %}
    <div class="catalog">
        <div class="head filter">
            <div class="type">
                <span>
                    {% if app.request.attributes.get('_route') == 'sylius_product_index_by_taxon' %}
                    {% set category = 'catalog' %}
                    тип украшения:
                    {% else %}
                    {% set category = 'collections' %}
                    коллекция:
                    {% endif %}
                </span>
                <select name="" id="type" onchange="filter('{{ category }}');">
                    {% for t in taxons %}
                        <option value="{{ t.slug }}" {% if taxon.id == t.id %}selected="selected"{% endif %}>{{ t.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="price">
                <span>цена:</span>
                <select name="" id="price" onchange="filter('{{ category }}');">
                    <option value="any" {% if price == "any" %}selected="selected"{% endif %}>любая</option>
                    <option value="1500" {% if price == 1500 %}selected="selected"{% endif %}>до 1500 руб</option>
                    <option value="3000" {% if price == 3000 %}selected="selected"{% endif %}>до 3000 руб</option>
                    <option value="5000" {% if price == 5000 %}selected="selected"{% endif %}>до 5000 руб</option>
                </select>
            </div>
        </div>
        {{ grid(products, groups) }}
        {% if page != 'all' and products|length > 30 %}
            {{ pagination(products) }}<ul class="pagination"><li class="next"><a href="{{ path('sylius_product_index_by_taxon', {page: 'all', category: taxon.slug}) }}">Показать всё</a></li></ul>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.request.attributes.get('_route') == "sylius_product_index_by_taxon" or app.request.attributes.get('_route') == "sylius_product_index_by_taxon_collections" %}
        <script type="text/javascript" src="{{ asset("js/productClick.js") }}"></script>
    {% endif %}
{% endblock %}

