{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% import 'SyliusWebBundle:Frontend/Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Frontend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Frontend/Product:macros.html.twig' import grid %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/catalog.css') }}" type="text/css"/>
{% endblock %}

{% block border %}
    <div class="borderHead filter"></div>
    {% include 'SyliusWebBundle:Frontend/Product:showAjaxWindow.html.twig' %}
{% endblock %}

{% block content %}
    <div class="catalog">
        {% include 'SyliusWebBundle:Frontend/Product:filter.html.twig' %}
        {{ grid(products, groups) }}
        {% if page != 'all' and products|length > 40 %}
            {{ pagination(products) }}<ul class="pagination"><li class="next"><a href="{% if app.request.attributes.get('_route') == 'sylius_product_index_by_taxon' or app.request.attributes.get('_route') == 'sylius_product_index_by_taxon_collections' %}{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'page': 'all'})|merge(app.request.query.all)) }}{% else %}{{ path('sylius_sale', {page: 'all'}) }}{% endif %}">Показать всё</a></li></ul>
        {% elseif products|length > 40 %}
            {% if page + 1 <= count_page %}
                <a class="indexByTaxonAjax hide" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'page': 2})|merge({'ajax': 1})|merge(app.request.query.all)) }}"></a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.request.attributes.get('_route') == "sylius_product_index_by_taxon" or app.request.attributes.get('_route') == "sylius_product_index_by_taxon_collections" or app.request.attributes.get('_route') == "sylius_sale" %}
        {#<script type="text/javascript" src="{{ asset("js/productClick.js") }}"></script>#}
    {% endif %}
    <script type="text/javascript" src="{{ asset('js/jquery.smoothZoom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/smoothZoom.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/init_smoothZoom.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/productAjax.js') }}"></script>
{% endblock %}

