{% macro price(product, group) %}
    {% if group.showPrice == 0 %}
        <div class="retail{% if group.showOptPrice != 0 %} one{% endif %}">
            {% if group.showOptPrice == 0 or app.request.host != 'olere-shop.ru' %}Розн. {% endif %}{{ product.price|sylius_price }}
        </div>
    {% endif %}
    {% if group.showOptPrice == 0 and app.request.host != 'olere-shop.ru' %}
        <div class="opt{% if group.showPrice != 0 %} one{% endif %}">
        Опт. {{ product.priceOpt|sylius_price }}
        </div>
    {% endif %}
    {% if group.showOptPrice == 0 and app.request.host != 'olere-shop.ru' %}
        {% if product.masterVariant.flagSale == 1 %}
            <div class="stickerPrices">
               SALE. {{ product.priceSale|sylius_price }}
            </div>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro showPrice(product, groups) %}
    {% from 'SyliusWebBundle:Frontend/Product:macros.html.twig' import price %}
    {% if is_granted('ROLE_USER_OPT') %}
        {{ price(product, groups[0]) }}
    {% elseif is_granted('ROLE_USER') %}
        {{ price(product, groups[1]) }}
    {% else %}
        {{ price(product, groups[2]) }}
    {% endif %}
{% endmacro %}

{% macro list(products) %}

    {% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
    {% if products|length > 0 %}
        <div class="steakyTable">
            <table>
                <tr>
                    <th class="th1">Изображение</th>
                    <th class="th2">{{ sylius_resource_sort('name', 'Название') }}</th>
                    <th class="th3">Артикул</th>
                    <th class="th4">{{ sylius_resource_sort('price', 'Цена') }}</th>
                    <th class="th6">Кол-во</th>
                    <th class="th7">Купить</th>
                </tr>
            </table>
        </div>
        <table class="catalogTable">
        <tr>
            <th class="th1">Изображение</th>
            <th class="th2">{{ sylius_resource_sort('name', 'Название') }}</th>
            <th class="th3">Артикул</th>
            <th class="th4">{{ sylius_resource_sort('price', 'Цена') }}</th>
            <th class="th6">Кол-во</th>
            <th class="th7">Купить</th>
        </tr>
        <tr>
            <td class="border-none" colspan="6"></td>
        </tr>
    {% endif %}
    {% for product in products %}
        {% include 'SyliusWebBundle:Frontend/Product:_single.html.twig' %}
    {% else %}
        {{ alerts.info('sylius.product.no_results'|trans) }}
    {% endfor %}
    {% if products|length > 0 %}
        </table>
    {% endif %}
{% endmacro %}

{% macro grid(productss, groups, taxon) %}{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}{% if productss|length > 0 %}<div class="boxes">{% endif %}{% set count = 0 %}{% for p in productss %}{% set count = count + 1 %}{% endfor %}{% for product in productss %}{% include 'SyliusWebBundle:Frontend/Product:_singleBox.html.twig' %}{% else %}<div class="col-md-12">{{ alerts.info('sylius.product.no_results'|trans) }}</div>{% endfor %}{% if productss|length > 0 %}</div>{% endif %}{% endmacro %}

{% macro gridLatest(products, groups, taxon) %}{% if products|length > 0 %}<div class="boxes">{% for product in products %}{% include 'SyliusWebBundle:Frontend/Product:_singleBoxLatest.html.twig' %}{% endfor %}</div>{% endif %}{% endmacro %}