{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% from 'SyliusWebBundle:Frontend/Product:macros.html.twig' import showPrice %}
{% from 'SyliusWebBundle:Frontend/Product:macros.html.twig' import grid %}

{# stylesheets... #}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/smoothZoom.css') }}" type="text/css"/>
{% endblock %}

{% set form = sylius_cart_form({'product': product}) %}

{% block border %}
    <div class="borderHead"></div>
{% endblock %}

{% block content %}
    <!-- Page product -->
    <div class="product">
        <div class="head">
            {% if app.request.attributes.get('_route') == "sylius_product_show_collections" %}
            <a href="{{ path("sylius_collections") }}">Коллекции</a> / {% if product.taxons[1].slug is defined %}<a href="{{ path("sylius_product_index_by_taxon_collections", {"page" : 1, "category" :  product.taxons[1].slug} ) }}">{{ product.taxons[1].name }}</a>{% else %}<a href="{{ path("sylius_product_index_by_taxon_collections", {"page" : 1, "category" :  product.taxons[0].slug} ) }}">{{ product.taxons[0].name }}</a>{% endif %}
            {% else %}
            <a href="{{ path("sylius_catalog") }}">Каталог</a> / <a href="{{ path("sylius_product_index_by_taxon", {"page" : 1, "category" : product.taxons[0].slug} ) }}">{{ product.taxons[0].name }}</a>
            {% endif %}
        </div>
        <div class="wrap_product">
        <div class="wrap_description">
            <div class="description">
                {% for property in product.properties %}
                    {{ property.name }}: {{ property.value }}<br><br>
                {% endfor %}

                Описание: {{ product.description }}<br><br><br>
            </div>
            <div class="subPreview">
                Дополнительные фото:
                <div class="blockPreview">
                    {% for image in product.images %}
                        <img onclick="preview('{{ '/media/image/'~image.path }}', '{{ image ? '/media/image/'~image.path : 'http://placehold.it/175x160' }}', '{{ product.name }}');" src="{{ image ? image('media/image/'~image.path).zoomCrop(68, 68).jpeg() : 'http://placehold.it/45x45' }}" alt="{{ image ? image('media/image/'~image.path).zoomCrop(68, 68).jpeg() : 'http://placehold.it/68x68' }}" width="68px" height="68px" >
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="pictureProduct">
            {#<a href="{{ asset('media/image/'~product.image.path) }}" class="fancybox">#}
                <img src="{{ product.image ? '/media/image/'~product.image.path : 'http://placehold.it/175x160' }}" alt="{{ product.name }}" width="500px">
            {#</a>#}
        </div>
        <div class="buyBlock">
            <div class="name">
                {{ product.name }}
            </div>
            <div class="articul">
                Артикул: {{ product.sku }}
            </div>
            <div class="price">
                Цена: {{ showPrice(product, groups) }}
            </div>
            {% set form = sylius_cart_form({'product': product}) %}
            <form action="{{ path('sylius_cart_item_add', {'id': product.id}) }}" method="post"
                  class="clearfix form-horizontal">
                {% if not product.hasVariants and not sylius_inventory_is_available(product.masterVariant) %}
                {% else %}
                    {{ form_row(form.quantity, {'attr': {'class': 'center-text'}, 'empty_value': '1'}) }}
                    {{ form_widget(form._token) }}
                {% endif %}
            <button type="submit" class="addCart">Добавить в корзину</button>
            </form>
        </div>
        </div>
    </div>

<!-- Catalog -->
    {% if product.getChildren()|length > 0 %}
    <div class="catalog latestProducts">
        <div class="head">
            С этим товаром покупают
        </div>
        {{ grid(product.getChildren(), groups) }}
    </div>
    {% endif %}
{% endblock %}

{# javascripts... #}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.smoothZoom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/smoothZoom.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/init_smoothZoom.js') }}"></script>
    {% if product.getChildren()|length > 0 %}
        <script type="text/javascript" src="{{ asset("js/productClick.js") }}"></script>
    {% endif %}
{% endblock %}
