<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal registerForm profileShow">
    <fieldset class="well">
        <h1>{{ 'sylius.form.frontend.profile.title'|trans }}</h1>
        <hr>
        <div class="left">
            {{ form_widget(form) }}
        </div>
        <div class="form-actions clearfix">
            <button type="submit" class="btn btn-success btn-lg" ng-disabled="form.$invalid">{{ 'registration.submit'|trans }}</button>
        </div>
    </fieldset>
    {{ form_rest(form) }}
</form>
