<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Новая регистрация на сайте Olere</title>
</head>
<body style="margin: 0px; width: 700px; font-family: Arial; letter-spacing: 2px;">
<div class="content">
    <table class="table" style="border-collapse: collapse;">
        <tr>
            <td>Имя</td>
            <td>{{ user.firstName }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>Организационная форма</td>
            <td>{{ user.formCompany }}</td>
        </tr>
        <tr>
            <td>Название компании</td>
            <td>{{ user.nameCompany }}</td>
        </tr>
        <tr>
            <td>Город</td>
            <td>{{ user.city }}</td>
        </tr>
        <tr>
            <td>Телефон</td>
            <td>{{ user.phone }}</td>
        </tr>
    </table>
</div>
</body>
</html>
