<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>ваш заказ с сайта вивамед</title>
</head>
<body style="margin: 0px; width: 700px; font-family: Arial; letter-spacing: 2px;">
<div class="content">
    <div class="logo" style="position: relative; text-align: center; background: #eaeef1; padding: 20px 0px;"><img src="http://{{ app.request.host }}{{ asset('images/logo.png') }}" width="184px"
                                                                                                                   height="115px"/></div>
    <div class="pagemenu" style="background: none repeat scroll 0% 0% #358429; padding: 0px 20px; font-size: 16px; text-transform: uppercase; text-align: center; color: #FFF; font-weight: 900; height: 50px; line-height: 50px;">
        ваш заказ с сайта вивамед
    </div>
    <table class="table" style="border-collapse: collapse;">
        <tr>
            <td colspan="2" style="text-align: left; padding: 20px; background: none; color: #555555; font-size: 11px; font-weight: 900; text-transform: uppercase; border: solid 2px #eaeef1;">ваше имя</td>
            <td colspan="4" style="text-align: left; padding: 20px; background: none; color: #555555; font-size: 11px; font-weight: 900; text-transform: uppercase; border: solid 2px #eaeef1;">{{ cart.username }}</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: left; padding: 20px; background: none; color: #555555; font-size: 11px; font-weight: 900; text-transform: uppercase; border: solid 2px #eaeef1;">номер телефона</td>
            <td colspan="4" style="text-align: left; padding: 20px; background: none; color: #555555; font-size: 11px; font-weight: 900; text-transform: uppercase; border: solid 2px #eaeef1;">{{ cart.phone }}</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: left; padding: 20px; background: none; color: #555555; font-size: 11px; font-weight: 900; text-transform: uppercase; border: solid 2px #eaeef1;">email</td>
            <td colspan="4" style="text-align: left; padding: 20px; background: none; color: #555555; font-size: 11px; font-weight: 900; text-transform: uppercase; border: solid 2px #eaeef1;">{{ cart.email }}</td>
        </tr>
        <tr>
            <th class="th1" style="width: 175px; text-transform: uppercase; background: none; color: #555555; font-size: 11px; font-weight: 900; text-transform: uppercase; border: solid 2px #eaeef1; line-height: 48px; text-align: center;">изображение</th>
            <th class="th2" style="width: 270px; text-transform: uppercase; background: none; color: #555555; font-size: 11px; font-weight: 900; text-transform: uppercase; border: solid 2px #eaeef1; line-height: 48px; text-align: center;">название</th>
            <th class="th3" style="width: 80px; text-transform: uppercase; background: none; color: #555555; font-size: 11px; font-weight: 900; text-transform: uppercase; border: solid 2px #eaeef1; line-height: 48px; text-align: center;">кол-во</th>
            <th class="th4" style="width: 75px; text-transform: uppercase; background: none; color: #555555; font-size: 11px; font-weight: 900; text-transform: uppercase; border: solid 2px #eaeef1; line-height: 48px; text-align: center;">артикул</th>
            <th class="th5" style="width: 80px; text-transform: uppercase; background: none; color: #555555; font-size: 11px; font-weight: 900; text-transform: uppercase; border: solid 2px #eaeef1; line-height: 48px; text-align: center;">{{ 'sylius.cart.summary.unit_price'|trans }}</th>
            <th class="th6" style="width: 96px; text-transform: uppercase; background: none; color: #555555; font-size: 11px; font-weight: 900; text-transform: uppercase; border: solid 2px #eaeef1; line-height: 48px; text-align: center;">{{ 'sylius.cart.summary.total'|trans }}</th>
        </tr>
        {% for item in cart.items %}
            {% include 'SyliusWebBundle:Email:_item.html.twig' %}
        {% endfor %}
        <tr>
            <td class="td footer" colspan="6" style="text-align: right; padding-bottom: 20px; padding-right: 20px; display: table-cell; vertical-align: top; padding-top: 20px; word-break: break-all; background: none; color: #555555; font-size: 11px; font-weight: 900; text-transform: uppercase; border: solid 2px #eaeef1;">
                <strong>{{ 'sylius.cart.summary.grand_total'|trans }}</strong>: {{ cart.total|sylius_price('RUB') }}
            </td>
        </tr>
    </table>
</div>
</body>
</html>
