{% form_theme form 'SyliusWebBundle::forms.html.twig' %}

<div class="row">
    <div class="col-md-12">
        <fieldset>
            {{ form_row(form.email) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.formCompany) }}
            {{ form_row(form.nameCompany) }}
            {{ form_row(form.city) }}
            {{ form_row(form.inn) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.profileCompany) }}
            {{ form_row(form.countPoint) }}
            {{ form_row(form.organization) }}
            {{ form_row(form.kpp) }}
            {{ form_row(form.currentAccount) }}
            {{ form_row(form.bank) }}
            {{ form_row(form.correspondentAccount) }}
            {{ form_row(form.bik) }}
            <div class="hide">
            {{ form_row(form.lastName) }}
            </div>
            {{ form_row(form.plainPassword) }}
            <div class="hide">
            {{ form_row(form.enabled) }}
            </div>
            {{ form_row(form.status) }}
            <div class="hide">
            {{ form_row(form.roles) }}
            {{ form_row(form.groups) }}
            </div>
        </fieldset>
    </div>
</div>
{{ form_rest(form) }}
