{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block title %}{{ page.metaTitle }}{% endblock %}
{% block metaDescription %}{{ page.metaDescription }}{% endblock %}
{% block metaKeywords %}{{ page.metaKeywords }}{% endblock %}

{% block border %}
    <div class="borderHead"></div>
{% endblock %}

{% block content %}
    <!-- Catalog -->
    <div class="catalog">
        <div class="head">
            Каталог
        </div>
        {{ render(url('sylius_collection_main')) }}
    </div>

    {#{% if page.enable is defined %}#}
        {#{% if page.enable == 0 %}#}
            {#<div class="content">#}
                {#{{ render(url('sylius_page_show_content', {'id' : 'catalogBlock'})) }}#}
            {#</div>#}
        {#{% endif %}#}
    {#{% endif %}#}

{% endblock %}