{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block title %}{{ page.metaTitle }}{% endblock %}
{% block metaDescription %}{{ page.metaDescription }}{% endblock %}
{% block metaKeywords %}{{ page.metaKeywords }}{% endblock %}

{% block border %}
    <div class="borderHead"></div>
{% endblock %}

{% block content %}
    <!-- Catalog -->
    <div class="catalog">
        <div class="head">
            {% if app.request.attributes.get('_route') == "sylius_collections" %}
            Натур. камни
            {% else %}
            Бижутерия
            {% endif %}
        </div>
        {{ render(url('sylius_collections_main')) }}
    </div>

    {% if page.body|length > 0 %}
        <div class="content">
            {{ page.body|raw }}
        </div>
    {% endif %}

    {#{% if page.enable is defined %}#}
        {#{% if page.enable == 0 %}#}
            {#<div class="content">#}
                {#{{ render(url('sylius_page_show_content', {'id' : 'collectionsBlock'})) }}#}
            {#</div>#}
        {#{% endif %}#}
    {#{% endif %}#}

{% endblock %}