{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% from 'SyliusWebBundle:Frontend/Macros:alerts.html.twig' import success %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% trans_default_domain 'FOSUserBundle' %}

{% block html %} ng-app="register"{% endblock %}

{% block border %}
    <div class="bgForm"></div>
{% endblock %}

{% block content %}
    {% if send is defined %}
    <div class="col-md-12">{{ alerts.info('Заявка успешно принята, в ближайшее время менеджер свяжется с Вами.') }}</div>
    {% else %}
    <form name="form" action="{{ path('sylius_feedback') }}" method="post" class="form-horizontal registerForm feedbackForm" ng-submit="submit" ng-controller="RegisterController as reg" novalidate>
        <fieldset class="well">
            <div class="left">
                <div class="form-group">
                    {{ form_label(form.firstName) }}
                    <span class="valid"></span>{{ form_widget(form.firstName, { 'attr': {'class': 'form-control', 'ng-model' : 'user.firstName', 'ng-minlength' : '2', 'ng-maxlength' : '255'}, 'required' : 'required'  }) }}<span>*</span>
                </div>
                <div class="form-group">
                    {{ form_label(form.email, '') }}
                    <span class="valid"></span>{{ form_widget(form.email, { 'attr': {'class': 'form-control', 'ng-model' : 'user.email'}, 'required' : 'required' }) }}<span>*</span>
                </div>
                <div class="form-group">
                    {{ form_label(form.phone, '') }}
                    <span class="valid"></span>{{ form_widget(form.phone, { 'attr': {'class': 'form-control', 'ng-model' : 'user.phone'} }) }}<span>*</span>
                </div>
            </div>
            <div class="form-actions clearfix">
                <button type="submit" class="btn btn-success btn-lg" ng-disabled="form.$invalid">{{ 'registration.next'|trans }}</button>
            </div>
            {{ form_errors(form) }}
        </fieldset>
        {{ form_end(form) }}
    </form>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("js/jquery.maskedinput.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/angular.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/register.js") }}"></script>
{% endblock %}
