{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" type="text/css"/>
    <link rel="stylesheet" href="{{ asset("css/flexslider.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset("css/flexslider-custom.css") }}" type="text/css"/>
{% endblock %}

{% block slider %}
    <div class="flexslider">
        {#<ul class="slides">#}
            {#<li>#}
                {#<img src="{{ asset('images/slider.png') }}"#}
                     {#alt="{{ asset('images/slider.png') }}"/>#}
                {#<div class="text">#}
                    {#<div class="header">#}
                        {#Бижутерия и украшения из серебра оптом и в розницу#}
                    {#</div>#}
                    {#<p>#}
                        {#- Большой ассоритмент продукции#}
                    {#</p>#}
                    {#<p>#}
                        {#- Оригинальняые модели#}
                    {#</p>#}
                    {#<p>#}
                        {#- Хорошее качество изделий#}
                    {#</p>#}
                    {#<p>#}
                        {#- Низкие цены#}
                    {#</p>#}
                    {#<a class="btn" href="{{ path('fos_user_opt_register') }}">Регистрация</a>#}
                {#</div>#}
            {#</li>#}
        {#</ul>#}
        <ul class="slides">
            {% if sliders is defined %}
                {% for slider in sliders %}
                    <li>
                        <a href="{{ slider.link }}"><img src="{{ asset('images/slider/'~slider.image) }}"
                             alt="{{ asset('images/slider/'~slider.image) }}"/></a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
        {% if sliderText.enable != 1 %}
        <div class="wrapText">
            <div class="text">
                {% if sliderText is defined %}
                    {{ sliderText.text|raw }}
                {% endif %}
                <a class="btn" href="{{ path('fos_user_opt_register') }}">Регистрация</a>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="borderSlider"></div>
{% endblock %}
{% block content1 %}
    {#{% if page1.enable is defined %}#}
        {#{% if page1.enable == 0 %}#}
            {#<div class="container">#}
                {#<div class="content">#}
                    {#{{ render(url('sylius_page_show_content', {'id' : 'main1'})) }}#}
                {#</div>#}
            {#</div>#}
        {#{% endif %}#}
    {#{% endif %}#}
{% endblock %}
{% block content2 %}
    <!-- Advantages -->
    <div class="wrap_advantages">
        <div class="advantages">
            <h1>
                наши преимущества
            </h1>
            <ul>
                <li>
                    <img src="{{ asset('images/advantages/icon1.png') }}" alt="" width="187px" height="187px"/>
                    <p>Широкий ассортимент</p>
                </li><li>
                    <img src="{{ asset('images/advantages/icon2.png') }}" alt="" width="187px" height="187px"/>
                    <p>Вкусные цены</p>
                </li><li>
                    <img src="{{ asset('images/advantages/icon3.png') }}" alt="" width="187px" height="187px"/>
                    <p>Пожизненная гарантия</p>
                </li><li>
                    <img src="{{ asset('images/advantages/icon4.png') }}" alt="" width="187px" height="187px"/>
                    <p>Прогрессивная <br/> система скидок</p>
                </li><li>
                    <img src="{{ asset('images/advantages/icon5.png') }}" alt="" width="187px" height="187px"/>
                    <p>Обмен товара</p>
                </li><li>
                    <img src="{{ asset('images/advantages/icon6.png') }}" alt="" width="187px" height="187px"/>
                    <p>Тысяча новых моделей <br/> каждый месяц</p>
                </li><li>
                    <img src="{{ asset('images/advantages/icon7.png') }}" alt="" width="187px" height="187px"/>
                    <p>Наличие товара <br/> на складе</p>
                </li><li>
                    <img src="{{ asset('images/advantages/icon8.png') }}" alt="" width="187px" height="187px"/>
                    <p>Товар сертифицирован</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="wrap_blocks">
        <ul class="blocks">
            <li class="bl">
                <div class="wrap">
                   <p>
                       чтобы увидеть цены а так же
                       получить персональную скидку
                       на украшения, пожалуйста,
                       зарегистрируйтесь!
                   </p>
                    <a href="{{ path('fos_user_opt_register') }}">
                        Зарегистрироваться
                    </a>
                </div>
            </li><li class="bl">
                <div class="wrap">
                    <p>
                        чтобы наш менеджер помог
                        вам с регистрацией или ответил
                        на ваши вопросы, закажите
                        обратный звонок!
                    </p>
                    <a href="{{ path('sylius_feedback') }}">
                        заказать обратный звонок
                    </a>
                </div>
            </li><li class="bl">
                <div class="wrap">
                    <p>
                        чтобы оценить качество
                        продукции, посетите наш
                        шоу-рум в москве
                    </p>
                    <a href="{{ path('fos_user_opt_register') }}">
                        посетить шоу-рум
                    </a>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <!-- Catalog -->
    {#<div class="catalog catalogMain">#}
        {#<div class="head">#}
            {#Каталог#}
        {#</div>#}
        {#{{ render(url('sylius_collection_main')) }}#}
    {#</div>#}

    <!-- Content -->
    {#{% if page2.enable is defined %}#}
        {#{% if page2.enable == 0 %}#}
        {#<div class="content">#}
            {#{{ render(url('sylius_page_show_content', {'id' : 'main2'})) }}#}
        {#</div>#}
        {#{% endif %}#}
    {#{% endif %}#}
{% endblock %}