{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}
{% from 'SyliusWebBundle:Frontend/Taxon:macros.html.twig' import gridSub %}
{% from 'SyliusWebBundle:Frontend/Product:macros.html.twig' import grid %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% block border %}
    {% include 'SyliusWebBundle:Frontend/Product:showAjaxWindow.html.twig' %}
{% endblock %}

{% block content %}
    {% if catalogs|length > 0 %}
        <div class="catalog catalogMain catalogSearch">
            <div class="head">
                Каталоги
            </div>
            {{ gridSub(catalogs) }}
        </div>
    {% endif %}
    {% if collections|length > 0 %}
        <div class="catalog catalogMain catalogSearch">
            <div class="head">
                Коллекции
            </div>
            {{ gridSub(collections) }}
        </div>
    {% endif %}
    {% if products|length > 0 %}
        <div class="catalog catalogMain catalogSearch">
            <div class="head">
                Товары
            </div>
            {{ grid(products, groups) }}
        </div>
    {% endif %}
    {% if catalogs|length <= 0 and collections|length <= 0 and products|length <= 0 %}
        {{ alerts.info('Ничего не найдено') }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script type="text/javascript" src="{{ asset("js/productClick.js") }}"></script>#}
    <script type="text/javascript" src="{{ asset('js/jquery.smoothZoom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/smoothZoom.js') }}"></script>
    {#<script type="text/javascript" src="{{ asset('js/init_smoothZoom.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('js/productAjax.js') }}"></script>
{% endblock %}